<form action="/products/post-form" method="post" >
    <div class="form-group  pt-5">
        <label for="" >Product Name :</label>
        <input name="product_name" type="text" class="form-control" placeholder="Enter product name"></input>
    </div>
    <div class="form-group">
        <label for="" >Product Code :</label>
        <input name="product_code" type="text" class="form-control" placeholder="Enter product code"></input>
    </div>
    <div class="form-group">
        <label for="" >Product Price :</label>
        <input name="actual_price" type="text" class="form-control" placeholder="Enter product price"></input>
    </div>
    <div class="form-group">
        <label for="" >Discount :</label>
        <input name="discount" type="text" class="form-control" placeholder="Enter product discount"></input>
    </div>
    <div class="form-group">
        <label for="" >Description :</label>
        <input name="description" type="text" class="form-control" placeholder="Enter product description"></input>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>